@using CompanyDB.ViewModel;
@model CompanyViewModel

@{
    ViewData["Title"] = "Create a Company";
}


<div class="col-ll mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4> Create a Company</h4>
        </div>
        
        <form id="CompanyForm" enctype="multipart/form-data" asp-action="Create">
            <div class="container-fluid btn-group">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <input asp-for="CompanyName" class="form-control" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CompanyEmail" class="control-label"></label>
                                <input asp-for="CompanyEmail" class="form-control" />
                                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CompanyWebsite" class="control-label"></label>
                                <input asp-for="CompanyWebsite" class="form-control" />
                                <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
                            </div>
                        </div>








                        <div class="col-md-6 btn-group">
                            <div class="form-group col-8 p-0">
                                <label asp-for="LogoImg" class="control-label"></label>
                                
                                <div class="custom-file">
                                    <input asp-for="LogoImg" class="custom-file-input" id="customFile" />
                                           @* onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" /> *@
                                    <label class="custom-file-label" for="customFile"></label>
                                </div>
                                <span asp-validation-for="LogoImg" class="text-danger"></span>
                            </div>










                            <div class="col-md-6">
                                <div class="form-group col-10 justify-content-center">
                                    <img id="PreviewPhoto" src="@Model.CompanyLogo" alt="Logo Image"
                                         width="125" height="125" style="border:1px; margin-top:20px;" />
                                </div>

                            </div>
                        </div>

                        <div class="container col-12">
                            <div class="col-md-12 p-0 m-0 bg-light">
                                <table class="table table-sm EmpTable" id="EmpTable">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th style="width:75px;">
                                                <button id="btnaddEmployee" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                                    Add
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Employees.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <input asp-for="@Model.Employees[i].FirstName" class="form-control" />
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.Employees[i].LastName" class="form-control" />
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.Employees[i].Email" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="hidden" asp-for="@Model.Employees[i].IsDeleted" />
                                                    <input asp-for="@Model.Employees[i].Phone" class="form-control" />
                                                </td>
                                                @* <td> </td> *@
                                                <td style="width: 60px;">
                                                    <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <input type="hidden" id="hdnLastIndex" value="0" />

                        <div class="col-12 btn-group">
                            <div class="col-6 form-group text-right p-2">
                                <a asp-action="List" class="btn btn-secondary">Back</a>
                            </div>
                            <div class="col-6 form-group text-left p-2">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
                </div>         
           
     


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 

}
